* {
  margin: 0;
  padding: 0;
}
body {
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 17%;
}

svg {
  color: #ffffff;
  height: 10rem;
  width: 10rem;
  padding: 0 1rem;
  margin-left: 15px;
  background-size: 200px 200px;
}

div {
  display: inline-block;
}

h3 {
  text-align: center;
  padding: 1rem;
}

.dimensions {
  /* float: left; */
  margin: 0 15px;
  width: 230px;
}

p {
  text-align: center;
  width: 200px;
  float: left;
  margin: 0 15px;
}

.aqua {
  background-color: #70c0c9;
}

.blue {
  background-color: #4074bd;
}

.red {
  background-color: #e05e46;
}

.grey {
  background-color: #919191;
}

h3 {
  color: #e26252;
  text-align: center;
  word-wrap: break-word;
  word-spacing: 200px;
}

.number-one,
.number-two,
.number-three,
.number-four {
  display: inline-block;
  width: 1rem;
  padding: 0.7rem;
  text-align: center;
  position: absolute;
  top: 26.1rem;
  border-radius: 50%;
}
.number-one {
  border: 4px solid #70c0c9;
  border-radius: 50%;
  color: #70c0c9;
  font-weight: bold;
  background-color: #ffffff;
}
.number-two {
  border: 4px solid #4074bd;
  color: #4074bd;
  font-weight: bold;
  background-color: #ffffff;
}
.number-three {
  border: 4px solid #e05e46;
  color: #e05e46;
  font-weight: bold;
  background-color: #ffffff;
}
.number-four {
  border: 4px solid #919191;
  color: #919191;
  font-weight: bold;
  background-color: #ffffff;
}
